/*Body*/

body {
    background-color: #AB8673;
}

/*Header*/

.nav_header, .footer {
    background-color: #643D36;
}
.form-control{
    border: 1px solid #57280A;
}
.text_white {
    color: antiquewhite;
}
.text_brown {
    color: #643D36;
}
.dropdown-menu {
    background-color: antiquewhite;
}
.nav_search{
    background-color: antiquewhite;
}

/*Main*/



/*Footer*/

.footer {
    color: antiquewhite;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
    text-align: center;

}
address {
    margin-bottom: 0px;
}
.contact:hover{
    color: black;
}